.citation__wrapper {
    gap: 16px;

}

.citation__container {
    place-items: flex-start;
    gap: 48px;
}

.card__info {
    place-items: flex-start;
    gap: 4px;

}

.citation__card {
    gap: 24px;
}

.citation__text {
    font-family: $poppins;
    color: $dark-gray;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    max-width: 937px;
    
}

.citation__img {
    width: 75px;
    border-radius: 12px;
}

.card__name {
    font-family: $poppins;
    color: $dark-gray;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
}

.card__position {
    font-family: $poppins;
    color: $lighter-gray;
}