.design__wrapper {
    @include respond-below(sm) {
      margin-top: rem(100px);
    }
}

.design__container {
    margin: auto;
}

.design__title {
    place-self: flex-start;
    max-width: 448px;
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: $dark-gray;
    @include respond-below(sm) {
        font-size: rem(24px);
        line-height: rem(36px);
        max-width: rem(267px);
    }
}

.design__grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 32px;
    margin-top: 32px;

    @include respond-below(sm) {
      grid-template-columns: repeat(1, auto);
    }
}

.design__card {
    cursor: pointer;
}

.card__img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    height: 545px;
    border-radius: 24px;

    @include respond-below(sm) {
      height: rem(405px);
    }

}

.card__category {
    font-family: $poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: $lighter-gray;
    margin-top: 16px;

    @include respond-below(sm) {
        font-size: rem(12px);
        line-height: rem(18px);
    }
}

.card__title--design {
    font-family: $poppins;
    color: $dark-gray;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-top: 8px;
    @include respond-below(sm) {
        font-size: rem(18px);
        line-height: rem(27px);
    }
}

.design__card--first {
    margin-top: 100px;
    @include respond-below(sm) {
      margin-top: 0;
    }
}

.seemore__btn {
    place-self: flex-end;
    @include respond-below(sm) {
      place-self: flex-start;
      margin-top: 32px;
    }
    
    
} 

.design__btn {
    font-family: $poppins;
    color: $blue;
    border: none;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    
    
}

.arrow--icon {
    color: $blue;
}