.footer__wrapper {
    background-color: $footer-bg;
    color: $off-white;
    padding: 64px;
    place-items: flex-start;
    justify-content: space-between;
    height: 385px;
    width: 100%;
    @include respond-below(sm) {
      padding: rem(16px);
      height: auto;
      
    }
    
}

.footer__content {
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    @include respond-below(sm) {
      flex-direction: column;
      gap: 48px;
      margin-top: 40px;

    }
}

.footer__list {
    font-family: $poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 200%;
    list-style-type: none;
    color: $off-white;
    place-self: flex-start;
    
    padding: 0;

    a {
        text-decoration: none;
    }
}

.list__items {
    text-align: left;
    place-self: flex-start;
    cursor: pointer;
}

.footer__socials {
    gap: 8px;
}

.socials__title {
    place-self: flex-start;
    font-family: $heebo;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 53px;
}

.socials__icons {
    gap: 8px;
    align-content: center;
    justify-items: center;
    cursor: pointer;
}


.footer__input--label {
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 8px;
    
}

.footer__sign {
    font-family: $montserrat;
    color: $off-white;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    place-self: center;
    margin-top: 120px;
}