* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section {
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    @include respond-below(sm) {
      padding: rem(16px);
    }
}

a { color: inherit; } 

// material icon sizes
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; 
    @include respond-below(sm) {
      font-size: rem(24px);
    }
}
.material-icons.md-48 { font-size: 48px; }