.hero__wrapper {
    gap: 40px;
    place-items: flex-start;
    @include respond-below(sm) {
      place-items: center;
      gap: rem(16px);
    }
    
}

.hero__intro {
    place-self: flex-start;
    width: 1075px;
    margin: auto;
    @include respond-below(sm) {
      width: auto;
      margin: 0;
    }
    
}

.hero__introtext {
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $blue;
    place-self: flex-start;
    @include respond-below(sm) {
        font-size: rem(12px);
        line-height: rem(18px);
    }
    
}

.hero__title {
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: $dark-gray;
    place-self: flex-start;
    max-width: 543px;
    @include respond-below(sm) {
        font-size: rem(24px);
        line-height: rem(36px);
        max-width: rem(272px);
    }
}

.hero__image {
    border-radius: 18px;
    max-width: 1332px;
    place-self: center;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    @include respond-below(xs) {
      max-width: rem(348px);
      height: rem(154px);
      margin: 0;
    }
}

.hero__bottom {
    width: 1075px;
    margin: auto;
    gap: 40px;
    @include respond-below(sm) {
      width: auto;
      gap: rem(16px);
      margin: 0;
    }
}

.under--img{
    max-width: 366px;
    @include respond-below(sm) {
        max-width: rem(272px);
    }
}

.hero__text {
    font-family: $poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: $light-gray;
    max-width: 366px;
    place-self: flex-start;
    @include respond-below(sm) {
        font-size: rem(12px);
        line-height: rem(18px);
        max-width: rem(275px);
    }
    
}

.hero__input {
    place-self: flex-start;
}

.hero__input--label {
    align-self: flex-start;
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $lighter-gray;
}

.input__container {
    align-self: flex-start;
    width: 350px;
    position: relative;
    
}

.input {
    border: none;
    margin-top: 4px;
    background-color: $off-white;
    color: $lightest-gray;
    height: 57px;
    text-indent: 15px;
    border-radius: 12px;
    width: 350px;
    &::placeholder {
        font-family: $poppins;
    }

    &:focus {
        color: $dark-gray;
    }
}

.input__btn {
    position: absolute;
    border: none;
    background-color: $blue;
    color: $off-white;
    font-family: $poppins;
    border-radius: 12px;
    padding: 12px 24px;
    right: 8px;
    bottom: 0;
    left: 1;
    
    transform: translateY(-15%);
    
    
    cursor: pointer;

}
