//Colors
$dark-gray: #333333;
$light-gray: #4F4F4F;
$lighter-gray: #828282;
$lightest-gray: #BDBDBD;
$off-gray: #E0E0E0;
$off-white: #F2F2F2;
$footer-bg: #100E1D;
$green: #27AE60;
$red: #EB5757;
$blue: #2D9CDB;
$white: #ffffff;




