.services__title {
    font-family: $poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: $dark-gray;
    max-width: 346px;
    place-self: flex-start;
    
}

.icon__container {
    display: flex;
    align-content: center;
}

.icon {
    border-radius: 16px;
    color: $white;
}

.icon--blue {
    background-color: $blue;
    padding: 16px;
    
}

.icon--green {
    background-color: $green;
    padding: 16px;
    
}

.icon--red {
    background-color: $red;
    padding: 16px;
    
}

.services__cards {
    gap: 32px;
}

.card__wrapper {
    padding: 48px 32px;
    cursor: pointer;
    border-radius: 24px;
    transition: transform 0.2s ease;
    &:hover {
        background-color: $white;
        box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
        transform: translateY(-5%);
        .card__btn{
            background-color: $blue;
            color: $white;
        }
    }
}

.card__title {
    font-family: $poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: $dark-gray;
}

.card__text {
    font-family: $poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $light-gray;
    max-width: 273px;
}

.card__btn {
    padding: 8px 16px;
    background-color: $off-gray;
    border: none;
    border-radius: 12px;
    font-family: $poppins;
    color: $lighter-gray;
    cursor: pointer;
}







// material icon sizes
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
